/*Player.css*/
.player {
  border: 2px solid var(--accent-gray-lt);
  border-radius: 2px;
  min-width: 50em;
  max-width: 64em;
  min-height: 24em;
  margin: 2em auto;
  /*box-shadow: 0 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.3);*/
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.slide-viewer {
  margin: 2em 14em;
}
.player-metadata-controls {
    position: relative;
    padding: 1em;
    border-bottom: 1px solid var(--accent-gray-lt-two);
}
.player-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}