.wayfinder-container {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  min-width: 40em;
  max-width: 56em;
  min-height: 18em;
  margin: 2em auto;
}
.slide-viewer {
  display: grid;
  grid-template-columns: 8em calc(100% - 16em) 8em;
  grid-template-rows: 2em 16em 2em;
  min-width: 40em;
}
.wayfinder-metadata {
  display: flex;
}
.wayfinder-metadata > h5 {
  margin: 2em auto;
}