button {
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  padding: 0.5em 1em;
  font-family: inherit;
  font-size: 1.2em;
  border: none;
  /*box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);*/
  cursor: pointer;
  color: var(--primary-lt);
  background-color: var(--primary-dk);
  outline-offset: 2px;
  /*transition: all 0.4s ease;*/
}
button:active, button:focus {
  outline: 2px solid var(--primary-dk);
}
button:hover {
  background-color: var(--primary-dk-shade);
  /*transform: scale(1.1);*/
}